/*para testar fixed-top da página*/
body {
height: 3000px;
padding-top: 76px;/*Espaçamento para mostrar o conteúdo da seção do carrossel */
}
 /*Colocando sombras em qualquer lugar*/
 /*foi colocado sombra no menu navbar*/
 .box-shadow {
  /*0 pra direita pra esquerda, 2px pra baixo 4px blur  0 tamanho */
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.05),
              0 4px 8px 0 rgb(0, 0, 0, 0.05);/*espandindo mais a sombra sombra claro*/
 }

 .altura {
  height: 100px;
 }

 #home-code{
  background: url(../img/bg-quote.jpg) center center;
  background-size: cover;
 }

 @media (max-width: 767px){
 #home-code .display-4 {
  font-size: 2.5rem;
 }
 body {
  padding-top: 0px;
 }
 .fixed-top {/*Não deixar menu nav-bar fixado*/
  position:relative;
 }

 }